#datetime-picker{
    margin-bottom: 10px;
}
.timer {
    display: flex;
    column-gap: 24px;
    
}

.field {
    display: flex;
    flex-direction: column;
}

.value{
    font-weight: 400;
font-size: 40px;
line-height: 120%;
letter-spacing: 0.04em;
color: #2e2f42;
}

.lable{
    font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #2e2f42;
}

input {
    border-radius: 4px;
width: 272px;
height: 40px;
background: #fff;
    font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #2e2f42;
}

button {
    border-radius: 8px;
padding: 8px 16px;
width: 75px;
height: 40px;
background: #cfcfcf;
}

